.box{
    width: 150px;
    height: 150px;
    background-color: rgb(68, 220, 83);
}
.box:nth-child(2){
    background-color: #5e93fe;
    position: relative;
    left: 80px;
    bottom: 60px;
    z-index: 1;
}
.box:nth-child(3){
    background-color: #fb9ce8;
    position: relative;
    left: 160px;
    bottom: 130px;
}